html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}


legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  position: relative;
}

.hidden {
  display: none !important;
}

.sep-line {
  width: 100%;
  border-bottom: 1px solid #ececec;
}

*{margin:0;padding:0;box-sizing:content-box;}
html,body {
  margin:0;
  padding:0;
  height:100%;
  color:#000000;
}

.content-message {
  font-family:"微软雅黑,arial,helvetica";
  font-size: 18px;
  color:#000000;
  /*text-align: center;*/
}

li{list-style:none;}
a{color:#33a0dc;}
.content{width:1000px;margin:0 auto;}
.left{float:left;}
.right{float:right;}
.clearfix:after{content:"";height:0;visibility:hidden;display:block;clear:both;}
.clearfix{zoom:1;}

.full-content-wrapper {
  /*background-color: #b8d9ec;*/
  background-image:url('bg.jpg');
  background-position: 60% 60%;
  background-size: 100% 100%;
  min-height: 100%;
}
.header {
  height: 95px;
  padding-top: 35px;
  /*background-color: #1b96da;*/
  background-color: #C0C0C0;
  opacity: 0.6;
  font-family:"Arial";
  color: white;
}
.header .domain-name {
  font-weight: bold;
  font-size: 50px;
}
.domain-name-footer {
  font-weight: bold;
  font-size: 15px;
  color: #181818;
}
.header .whois{
  padding: 22px 0 0 10px;
}
.header .whois a{
  font-size: 14px;
  color: #fff;
}
.header .right{
  padding-top: 23px;
}
.main-content{
  margin-top: 28px;
  padding: 21px;
  background-color: #F8F8F8;
}
.main-content p{
  padding: 4px 0;
}
.title{
  background-color: #e4f2fa;
  color: #33a0dc;
  font-size: 24px;
  font-weight: bold;
  padding: 8px 0 8px 15px;
  margin-bottom: 10px;
}
.marLR-5{
  margin: 0;
  overflow: hidden;
}
.domain-name-introduce .details{
  padding: 8px 20px 20px 20px;
}

  .trade-information .message{
    padding: 16px 20px 20px 20px;
  }
  .trade-information .message .text-right{
    padding-right: 30px;
    color: #198ac9;
  }
  .trade-information .message .look-button{
    padding: 5px 16px 6px 16px;
    color:#fff;
    font-size: 14px;
    background-color: #33a0dc;
  }
  .trade-information .entrust{
    margin-bottom: 25px;
    padding:10px 20px;
    background-color: #f7f7f7;
  }
  .shopkeeper-card{
    margin-bottom: 23px;
  }
  .shopkeeper-card ul{
    width: 950px;
    margin-left: -1px;
  }
  .shopkeeper-card li{
    float: left;
    width: 434px;
    padding: 18px 20px 15px 20px;
    border: 1px solid #e5e5e5;
    border-width: 0 0 1px 1px;
    background-color: #f7f7f7;
  }
  .shopkeeper-card li:after{
    content:"";
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
  }
   .shopkeeper-card li .jieshao{
    width:290px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
  }
 .shopkeeper-card li:last-child{
    border-width: 0 0 0 1px;
  }
  .shopkeeper-card .domain-name{
    width:140px;
  }
  .shopkeeper-card .shopkeeper-message{
    margin-bottom: 14px;
    margin-top: 15px;
    padding:5px 20px 20px 20px;
    /*background-color: #f7f7f7;*/
  }
  .shopkeeper-card .shopkeeper-message .message span{
    padding-right:50px;
  }
  .shopkeeper-card .shopkeeper-message .shopkeeper-name{
    font-size: 28px;
    /*color: #33a0dc;*/
    color: #33a0dc;
    line-height: 55px;
  }